<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <app-upload [apparel]="apparel">loading</app-upload>
</mat-toolbar>
<div class="mat-app-background basic-container">
<div fxLayout='row wrap' fxLayoutGap="20px">
  <mat-card class="example-card" *ngFor="let item of apparel">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.category}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{item.imgsrc}}" alt="Apparel Photo">
  </mat-card>
</div>
</div>